# venvs
env/
.env

# Python
**/__pycache__/
*.py[cod]

# Dotenv
.env
.env.*

# Saídas
raw_messages/
token_files/
incomplete_data/
complete_data/
draft_emails/
important_emails/

# Segredos
credentials/

examples/

outputs/

example_data/

qdrant_data/

data/