# venvs
env/
.env

# Python
**/__pycache__/
*.py[cod]

# Dotenv
.env
.env.*

# Saídas
raw_messages/
token_files/
incomplete_data/
complete_data/
draft_emails/
important_emails/
examples/
outputs/
example_data/

# Segredos
credentials/

# Arquitetura
diagrama_cloud_run.drawio
diagrama_cloud_run.drawio.png