# venvs
env/
.env

# Python
**/__pycache__/
*.py[cod]

# Dotenv
.env
.env.*

# Saídas
raw_messages/
token_files/
incomplete_data/
email_drafts/
important_emails/

# Segredos
credentials/

examples/

outputs/

example_data/